body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h3, p {
	margin: 0;
}

a, a:hover {
	padding: 5px;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dashed #ddd;
}

#app {}

header {
    border-bottom: 1px solid #f1f1f1;
}

.header__inner {
	display: flex;
	padding: 10px 20px;
	margin: auto;
	width: 100%;
	max-width: 1200px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.slogan {
	font-size: 12px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#videoList {
	min-height: 500px;
	padding: 30px 20px;
	margin: auto;
	width: 100%;
	max-width: 1200px;
}

.video__widget {
	padding-bottom: 25px;
	border-bottom: 1px solid #f5f5f5;
	width: 550px;
	margin-bottom: 40px;
}

.video__container {
	border-radius: 4px;
}

.details__title {
	font-size: 16px;
	font-weight: 600;
	color: #666;
	padding: 8px 0;
}

.details__desc {
	color: #666;
}

footer {
	padding: 10px 20px;
	margin: auto;
	width: 100%;
	max-width: 1200px;
	padding: 40px 0;
	border-top: 1px solid #eee;
	margin-top: 50px;
}
