body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h3, p {
	margin: 0;
}

a, a:hover {
	padding: 5px;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dashed #ddd;
}

#app {}

header {
    border-bottom: 1px solid #f1f1f1;
}

.header__inner {
	display: flex;
	padding: 10px 20px;
	margin: auto;
	width: 100%;
	max-width: 1200px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.slogan {
	font-size: 12px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#content {
    min-height: 500px;
    padding: 30px 20px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
}

#playLists {
    width: 200px;
    display: block;
    min-height: 100px;
    border-right: 1px solid #f1f1f1;
    margin-right: 20px;
}

#playLists > .topics__header {
	font-weight: 600;
	color: #666;
	padding: 10px 0;
}

#playLists > .topics > a {
    display: block;
    cursor: pointer;
    color: #666;
    font-size: 13px;
}

.video__widget {
	padding-bottom: 25px;
	border-bottom: 1px solid #f1f1f1;
	width: 550px;
	margin-bottom: 40px;
}

.video__container {
	border-radius: 4px;
}

.details__title {
	font-size: 16px;
	font-weight: 600;
	color: #666;
	padding: 8px 0;
}

.details__desc {
	color: #666;
}

footer {
	padding: 10px 20px;
	margin: auto;
	width: 100%;
	max-width: 1200px;
	padding: 40px 0;
	border-top: 1px solid #eee;
	margin-top: 50px;
}


.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
