:global(.js-gitter-toggle-chat-button), :global(.js-gitter-toggle-chat-button):hover {
	position: fixed;
	right: 30px;
	bottom: 10px;
	padding: 10px 30px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #ddd;
	font-weight: 800;
	text-transform: uppercase;
	color: #26b99a;
	font-size: 12px;
}

:global(.gitter-chat-embed) {
	box-shadow: -2px 0 3px 0 rgba(50,50,50,.2);
	border-left: 0;
}

.chatWidget {
	display: flex;
	align-items: center;
	justify-content: center;
}

.chatIcon {
	fill: #fff;
    width: 25px;
    margin-right: 12px;
}