.footer {
	width: 100%;
	border-top: 1px solid #eee;
	margin-top: 50px;
	background: #fff;
}

.footerInner {
	background: #fff;
	padding: 30px 15px;
	margin: auto;
	width: 100%;
	max-width: 1200px;
}

.footerInner > a {
	font-weight: 600;
	padding: 5px 10px;
	color: #777;
}