.header {
    border-bottom: 1px solid #eee;
    background: #fff;
}

.headerInner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 100%;
  max-width: 980px;
  padding: 10px 30px;
	height: 70px;
}

.headerSection {
	display: flex;
	height: 40px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.slogan {
	font-size: 12px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.loginButton {
	display: flex;
	align-self: center;
	height: 25px;
	padding: 5px 10px;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-weight: 600;
    color: #444;
}

.loginButton > svg {
	margin-right: 10px;
}
