.home{
	width: 100%;
}

.container {
	width: 100%;
	border-bottom: 1px solid #ddd;
	background: #3933c4;
}

.hero {
	padding: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
	flex-direction: column;
	margin: auto;
	max-width: 1200px;
	padding-top: 15px;
	width: 100%;
}

.heroHeading {
    font-weight: 900;
    font-size: 32px;
    margin-left: 10px;
    color: #fff;
}

.heroLinks {
    margin-top: 25px;
    font-size: 15px;
}

.heroLink {
    padding: 10px;
    padding-right: 35px;
    border-right: 1px solid #ddd;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.heroLink:last-child {
	padding-left: 35px;
	border-right: none;
}
