body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	/*background: #f5f5f5;*/
}

h3, p {
	margin: 0;
}

a, a:hover {
	text-decoration: none;
}

.content {
    min-height: 500px;
    margin: auto;
    width: 100%;
    display: flex;
}

textarea, input {
	height: 45px;
	padding: 0px 10px;
	border: 1px solid #f5f5f5;
	border-radius: 3px;
}

textarea:focus, input:focus {
	border: 1px solid #7ca4ff;
	outline: none;
}

:global(#app), .app {
	height: 100%;
	width: 100%;
}


/*:global(.button), :global(.button:hover)  {
	padding: 5px 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #5a8bfb;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}*/
